body {
    /*background-color: #0E3885;*/
}
h1{
    color:white;
    font-size: 50px;
}
.separator{
    margin:auto;
    width:460px;
}

form .input {
    border-radius: 0;
}
form .input::placeholder {
    color: #23237C;
}

@media screen and (max-width: 640px) {
    .separator{
        margin:auto;
        width:350px;
    }
}
@media screen and (max-width: 540px) {
    .separator {
        margin: auto;
        width: 300px;
    }
}
