
.header_logo{
    width: 250px;
    left: 80%;
}
abbr{
    border-bottom: none !important;
    cursor: inherit !important;
    text-decoration: none !important;
}
.field{
    margin-bottom: 0px!important;
}
.table td{
    padding: 0px!important;
}
