<html>
<head>
    <title>BPGO ACEF</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {#<link rel="icon" type="image/png" href="https://assets.oneweb.mercedes-benz.com/global/1.9.0/favicon/favicon-32x32.png" />#}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css" />
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <link href='{{ base_url() }}/css/inscription.css' rel='stylesheet' type='text/css'>
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
</head>
<body>
<br>
<br>
<div class="columns is-mobile">
    <div class="column is-8-desktop is-offset-2-desktop is-10-tablet is-offset-1-tablet is-10-mobile is-offset-1-mobile" style="background-color: white;border-radius: 40px;text-align: center;font-size:20px;color:#0E3885;font-weight: 500">
        <br>
        <br>
        <br>
        <p>Nous sommes désolés mais votre inscription n'a pas pu être prise en compte.</p>
        <p>Le nombre maximal de places disponibles a été atteint.</p>
        <br>
        <p>Nous vous invitons néanmoins à vous rapprocher de votre conseiller Banque Populaire Grand Ouest habituel.</p>
        <br>
        <p>Au plaisir de vous rencontrer ! </p>
        <br>
        <br>
        <div class="columns is-mobile">
            <div class="column" style="text-align: left;margin-left: 50px;margin-top: 15px">
                <img src='{{ base_url() }}/img/LOGO_ACEF_Cotes_Armor_2.png' width="120">
            </div>
            <div class="column" style="text-align: right;margin-right: 40px;">
                <img src='{{ base_url() }}/img/BP_Grand_Ouest_D.png' width="300" height="1000">
            </div>
        </div>
        <br>
    </div>
</div>
<br />
<p style="color:#ffffff;text-align: center">Banque Populaire Grand Ouest - 15, boulevard de la Boutière - CS 26858 - 35768 Saint Grégoire Cedex - 857 500 227 RCS Rennes</p>
</body>
</html>

