<html>
<head>
    <title>BPGO Entreprendre 2024</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="../../public/img/BP_LOGO.PNG" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css" />
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <link href='{{ base_url() }}/css/inscription.css' rel='stylesheet' type='text/css'>
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
</head>
    <body>
        <div class="columns is-mobile">
            <div class="column is-6-desktop is-offset-3-desktop is-10-tablet is-offset-1-tablet is-10-mobile is-offset-1-mobile" style="background-color: white;border-radius: 40px;">
                <div style="width: 97%; margin: auto;">
                    <div style="width: 100%">
                        {% if reponse.participe == 1 %}
                        <img src='{{ base_url() }}/img/header_confirmation.png' style="width: 100%">
                        {% else %}
                        <img src='{{ base_url() }}/img/header_confirmationV2.png' style="width: 100%">
                        {% endif %}
                    </div>

                    <hr style ="border: 10px solid white; margin-top: 0"/>

                    <h3 style='color:gray; font-family: " Gill Sans ", "Gill Sans MT", Calibri, sans-serif; font-weight: bold; font-variant:small-caps; font-size:24px;'>
                        <p>LES JEUX OLYMPIQUES ET PARALYMPIQUES DE <span style="color: #23237C">PARIS 2024</span></p>
                        <p>DES <span style="color: #BD2323">OPPORTUNITÉS</span> DE DÉVELOPPEMENT EN <span style="color: #BD2323">RÉGION</span>.</p>
                        <p>PRÉPAREZ-VOUS DÈS MAINTENANT&nbsp;!</p>
                    </h3>

                    <hr style ="border: 2px solid #BD2323;"/>

                    {% if reponse.participe == 1 %}
                    <p style='color:gray; font-size:20px; font-weight: bold'>
                        Votre inscription à la soirée Entreprendre 2024 a bien été prise en compte.</p>

                    <br />

                    <div style='color:#23237C; font-size:22px; text-align: center; font-weight: bold'>
                        <p>Entreprendre 2024</p>
                        <p>le 22 septembre 2020, de 16h à 18h</p>
                        <p>au siège de la Banque Populaire Grand Ouest</p>
                        <p>15 boulevard de la Boutière</p>
                        <p>35760 Saint Grégoire</p>
                    </div>

                    <br />

                        <p style='color:gray; font-size:20px;'>
                            Vous allez recevoir d’ici quelques instants un mail qui fera office de Pass d’Entrée nominatif
                            que vous devrez présenter le jour J.
                        </p>
                    {% else %}
                    <p style='color:gray; font-size:20px; font-weight: bold'>
                        Votre réponse a bien été prise en compte.</p>

                    <br />
                    {% endif %}

                    {% if reponse.lienConf == 1 %}
                        <p style='color:gray; font-size:20px;'>
                            Vous allez recevoir le lien permettant de regarder la conférence par mail lorsque celle-ci aura eu lieu.
                        </p>
                    {% endif %}
                    <br />

                    <div style="width: 100%; text-align: center">
                        <img src='{{ base_url() }}/img/logos.jpg' style="width: 80%">
                    </div>

                    <br />

                    <div style="text-align: center;font-size: 13px;color:gray">
                        <p>Banque Populaire Grand Ouest - Société Anonyme Coopérative de Banque Populaire à capital variable
                            <br />Siège social : 15 boulevard de la Boutière - CS 26858 - 35768 Saint Grégoire cedex
                            <br />857 500 227 RCS Rennes. Banque Populaire Grand Ouest exploite la marque Crédit Maritime.</p>
                    </div>

                </div>
            </div>
        </div>
    </body>
</html>

