<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>Invitation soirée fonction publique</title>
  <style type="text/css">
    /* Fonts and Content */

    body,
    td {
      font-family: Arial, sans-serif;
      font-size: 18px;
      color: #000000;
    }

    body {
      background-color: #0E3885;
      margin: 0;
      padding: 0;
      -webkit-text-size-adjust: none;
      -ms-text-size-adjust: none;
    }

    img {
      border: 0;
      max-width: 100%;
      height: auto;
      vertical-align: top;
    }

    @media only screen and (max-width: 700px) {
      .w100 {
        width: 100%;
      }
      .bloc {
        width: 100%;
        display: block;
        text-align: center!important;
      }
      .masque {
        display: none !important;
      }
      .centrer {
        text-align: center !important;
      }
      .h5 {
        height: 5px;
      }
    }
  </style>
</head>

<body bgcolor="#0E3885" style="font-family:Arial, sans-serif; font-size:16px; margin:0; color: #000000;">
  <center>
    <table width="700" class="w100" border="0" cellspacing="0" cellpadding="0" bgcolor="#0E3885">
      <tbody>
        <tr>
          <td align="center" bgcolor="#0E3885" style="text-align:center;">
            <table width="675" class="w100" border="0" cellspacing="0" cellpadding="0" bgcolor="#0E3885" align="center">
              <tbody>
                <tr>
                  <td align="center" bgcolor="#0E3885" style="text-align:center;">
                    <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                      <tbody>
                        <tr>
                          <td>&nbsp;</td>
                        </tr>
                        <tr>
                          <td align="center" style="font-size : 12px; color : #ffffff">
                            Si cet email ne s'affiche pas correctement,
                            <a href="https://acefbpgosoireefonctionpublique.fr/mailInvitation/[INVITE_HASH]" style="color:#ffffff">cliquez ici</a>.</td>
                        </tr>
                        <tr>
                          <td>&nbsp;</td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td align="center" bgcolor="#ffffff" style="border-radius: 40px;-webkit-border-radius: 40px; -moz-border-radius: 40px;">
                    <table width="90%" border="0" cellspacing="0" cellpadding="0">
                      <tbody>
                        <tr>
                          <td>&nbsp;</td>
                        </tr>
                        <tr>
                          <td align="center" style='color:#04A5C2; font-family: " Gill Sans ", "Gill Sans MT", Calibri, sans-serif; font-variant:small-caps; font-size:48px;'>INVITATION SOIRÉE</td>
                        </tr>
                        <tr>
                          <td align="center" style='color:#04A5C2; font-size:48px;'>FONCTION PUBLIQUE</td>
                        </tr>
                        <tr>
                          <td>&nbsp;</td>
                        </tr>
                        <tr>
                          <td>
                            <table align="center" border="0" cellspacing="0" cellpadding="0" width="500">
                              <tbody>
                              <tr>
                                <td align="center">
                                  <!--<img src='http://194.250.42.70/BPGO/separator.png' width=600>-->
                                </td>
                              </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                        <tr>
                          <td>&nbsp;</td>
                        </tr>
                        <tr>
                          <td align="center">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                              <tbody>
                                <tr>
                                  <table width="85%" border="0" cellspacing="0" cellpadding="0">
                                    <tbody>
                                      <tr>
                                        <td align="center" style="color: #1348A0">L’ACEF des Côtes d’Armor et la Banque Populaire Grand Ouest vous invitent</td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </tr>
                                <tr>
                                  <td>&nbsp;</td>
                                </tr>
                                <tr>
                                  <td>
                                    <table align="center" border="0" cellspacing="0" cellpadding="0" bgcolor="#04A5C2">
                                      <tbody>
                                        <tr>
                                          <td align="center" style="color : #ffffff; padding: 10px 30px;font-size: 20px;">
                                            <strong>JEUDI 31 MAI 2018 À 18H30</strong>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                                <tr>
                                  <td align="center" style="color: #1348A0;font-size: 14px;">Centre de vacances ANAS - Tréveneuc</td>
                                </tr>
                                <tr>
                                  <td>&nbsp;</td>
                                </tr>
                                <tr>
                                  <td align="center" style="color: #04A5C2;font-size: 23px;">
                                    <strong>"Epargner en 2018, pour quoi faire et comment faire ?"</strong>
                                  </td>
                                </tr>
                                <tr>
                                  <td align="center" style="color: #1348A0;">avec Dominique LE GENDRE,</td>
                                </tr>
                                <tr>
                                  <td align="center" style="color: #1348A0;">Responsable du Pôle Patrimonial BPGO, département Côtes d’Armor</td>
                                </tr>
                                <tr>
                                  <td>&nbsp;</td>
                                </tr>
                                <tr>
                                  <td>&nbsp;</td>
                                </tr>
                                <tr>
                                  <td>
                                    <table align="center" border="0" cellspacing="0" cellpadding="0" width="500">
                                      <tbody>
                                      <tr>
                                        <td align="center">
                                          <!--<img src='http://194.250.42.70/BPGO/separator.png' width=600>-->
                                        </td>
                                      </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                                <tr>
                                  <td>&nbsp;</td>
                                </tr>
                                <tr>
                                  <td align="center">
                                    <table width="80%" border="0" cellspacing="0" cellpadding="0">
                                      <tbody>
                                        <tr>
                                          <td width="49%" align="left" valign="middle" class="bloc" style="text-align: right;color: #1348A0">
                                            Cette conférence sera suivie du spectacle de Laurent Chandemerle, humoriste costarmoricain.
                                          </td>
                                          <td class=" bloc">&nbsp;</td>
                                          <td class="bloc">&nbsp;</td>
                                          <td class="masque">&nbsp;</td>
                                          <td class="masque">&nbsp;</td>
                                          <td class="masque">&nbsp;</td>
                                          <td class="masque">&nbsp;</td>
                                          <td class="masque">&nbsp;</td>
                                          <td class="masque">&nbsp;</td>
                                          <td class="masque">&nbsp;</td>
                                          <td class="masque">&nbsp;</td>
                                          <td class="masque">&nbsp;</td>
                                          <td class="masque">&nbsp;</td>
                                          <td class="masque">&nbsp;</td>
                                          <td class="masque">&nbsp;</td>
                                          <td class="masque">&nbsp;</td>
                                          <td class="masque">&nbsp;</td>
                                          <td class="masque">&nbsp;</td>
                                          <td class="masque">&nbsp;</td>
                                          <td class="masque">&nbsp;</td>
                                          <td class="masque">&nbsp;</td>
                                          <td width="49% " align="right " valign="middle " class="bloc " style="text-align: left
                                    ; ">
                                            <!--<img src="http://194.250.42.70/BPGO/affiche_chandemerle_2.jpg" alt="chandemerle" border="0" width="110" height="200" />-->
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                                <tr>
                                  <td>&nbsp;</td>
                                </tr>
                                <tr>
                                  <td align="center" style="color: #1348A0">Un cocktail dinatoire viendra cl&ocirc;turer cette soirée
                                    <!--<img src="http://194.250.42.70/BPGO/cocktail.png" border="0" height="24" width="24" style="margin-top: -8px" class="masque"/>-->
                                  </td>
                                </tr>
                                <tr>
                                  <td>&nbsp;</td>
                                </tr>
                                <tr>
                                  <td>
                                    <table align="center" border="0" cellspacing="0" cellpadding="0" width="500">
                                      <tbody>
                                      <tr>
                                        <td align="center">
                                          <!--<img src='http://194.250.42.70/BPGO/separator.png' width=600>-->
                                        </td>
                                      </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                                <tr>
                                  <td>&nbsp;</td>
                                </tr>
                                <tr>
                                  <td align="center" style="color: #04A5C2;font-size: 23px;">
                                    <strong>Venez partager ce moment avec un collègue
                                      <br /> et inscrivez-vous vite, les places sont limitées !</strong>
                                  </td>
                                </tr>
                                <tr>
                                  <td>&nbsp;</td>
                                </tr>
                                <tr>
                                  <td>&nbsp;</td>
                                </tr>
                                <tr>
                                  <td>
                                    <table align="center" border="0" cellspacing="0" cellpadding="0" bgcolor="#F79E3F">
                                      <tbody>
                                        <tr>
                                          <td align="center" style="color : #ffffff; padding: 15px 30px;font-size: 20px;">
                                            <a href="https://acefbpgosoireefonctionpublique.fr/inscription/[INVITE_HASH]" style="text-decoration: none">
                                             <strong>JE M'INSCRIS</strong>
                                            </a>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                                <tr>
                                  <td>&nbsp;</td>
                                </tr>
                                <tr>
                                  <td align="center">
                                    <table width="88%" border="0" cellspacing="0" cellpadding="0">
                                      <tbody>
                                        <tr>
                                          <td width="49%" align="left" valign="middle" class="bloc">
                                            <!--<img src="http://194.250.42.70/BPGO/LOGO_ACEF_Cotes_Armor_2.png" alt="ACEF" border="0" height="130" width="130" />-->
                                          </td>
                                          <td class="bloc">&nbsp;</td>
                                          <td class="bloc">&nbsp;</td>
                                          <td width="49% " align="right " valign="middle " class="bloc">
                                            <!--<img src="http://194.250.42.70/BPGO/BP_Grand_Ouest_D.png" alt="BP Grand Ouest" border="0" height="130" width="300" />-->
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                                <tr>
                                  <td>&nbsp;</td>
                                </tr>
                                <tr>
                                  <td>
                                    <table align="center" border="0" cellspacing="0" cellpadding="0" width="500">
                                      <tbody>
                                      <tr>
                                        <td align="center">
                                          <!--<img src='http://194.250.42.70/BPGO/separator.png' width=600>-->
                                        </td>
                                      </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                                <tr>
                                  <td>&nbsp;</td>
                                </tr>
                                <tr>
                                  <td>&nbsp;</td>
                                </tr>
                                <tr>
                                  <td>
                                    <table align="center" border="0" cellspacing="0" cellpadding="0">
                                      <tbody>
                                        <tr>
                                          <td align="justify" style="color: #949599;font-size: 11px;">Cet événement peut faire l'objet de prises de vues photographiques et/ou vidéos
                                            susceptibles d'être diffusées au public dans le cadre de la promotion de l'événement
                                            proposée par la Banque Populaire Grand Ouest et l'ACEF et ce pour une durée indéterminée.
                                            En participant à l'événement, vous acceptez d'être photographié(e) et/ou filmé(e).
                                            Si malgré tout vous ne souhaitiez pas être photographié(e) et/ou filmé(e), nous
                                            vous remercions de l'indiquer à l'un des représentants de la Banque Populaire
                                            Grand Ouest ou de l'ACEF présents sur les lieux.
                                            <br />Les données à caractère personnel demandées sont obligatoires pour l'organisation
                                            de l'événement et font l'objet d'un traitement notamment informatisé par la Banque
                                            Populaire Grand Ouest. A défaut de communication de ces données, votre participation
                                            ne pourrait être prise en compte. Les données recueillies sont également utilisées
                                            par Banque Populaire Grand Ouest pour réaliser des actions de démarchage commercial.
                                            <br/> Les données à caractère personnel sont conservées pendant une durée maximale
                                            de 3 ans et sont exclusivement destinées à la Banque Populaire Grand Ouest, responsable
                                            du traitement. Conformément au règlement général sur la protection des données
                                            à caractère personnel du 27 avril 2016, tout participant dispose d’un droit d'accès,
                                            de rectification, d’opposition, d’effacement et de limitation aux données le
                                            concernant en s’adressant par écrit au Service Relations Clients de la Banque
                                            Populaire Grand Ouest 15 boulevard de la Boutière – CS 26858 35768 Saint-Grégoire
                                            cedex, ou par e-mail adressé à BPGO_SERVICE_RECLAMATIONS_CLIENTS@bpgo.fr.
                                            <br /> Vous disposez également d’un droit d’introduire une réclamation auprès d’une
                                            autorité de contrôle en charge de la protection des personnes physiques à l’égard
                                            du traitement des données à caractère personnel. En France, l’autorité de contrôle
                                            est la Commission Nationale de l’Informatique et des Libertés (CNIL) 3 Place
                                            de Fontenoy TSA 80715 75334 PARIS Cedex 07. Vous êtes informé que vous disposez
                                            du droit à vous inscrire sur une liste d’opposition au démarchage téléphonique.
                                            Toutefois, malgré cette inscription, vous pouvez être démarché par téléphone
                                            dès lors qu’il existe des relations contractuelles pré-existantes.
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                                <tr>
                                  <td>&nbsp;</td>
                                </tr>
                                <tr>
                                  <td>&nbsp;</td>
                                </tr>
                                <tr>
                                  <td align="center" style="font-family:Arial, sans-serif; color: #949599; font-size:10px; ">Pour vous désinscrire,
                                    <a href="#UNSUB# " style="color: #949599; ">cliquez&nbsp;ici</a>.</td>
                                </tr>
                                <tr>
                                  <td>&nbsp;</td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </center>
</body>

</html>