<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>Invitation soirée fonction publique</title>
  <style type="text/css">
    /* Fonts and Content */

    body,
    td {
      font-family: Arial, sans-serif;
      font-size: 18px;
      color: #000000;
    }

    body {
      background-color: #0E3885;
      margin: 0;
      padding: 0;
      -webkit-text-size-adjust: none;
      -ms-text-size-adjust: none;
    }

    img {
      border: 0;
      /*max-width: 100%;*/
      height: auto;
      vertical-align: top;
    }

    @media only screen and (max-width: 700px) {
      .w100 {
        width: 100%;
      }
      .bloc {
        width: 100%;
        display: block;
        text-align: center!important;
      }
      .masque {
        display: none !important;
      }
      .centrer {
        text-align: center !important;
      }
      .h5 {
        height: 5px;
      }
    }
  </style>
</head>

<body bgcolor="#0E3885" style="font-family:Arial, sans-serif; font-size:16px; margin:0; color: #000000;">
  <center>
    <table width="700" class="w100" border="0" cellspacing="0" cellpadding="0" bgcolor="#0E3885">
      <tbody>
        <tr>
          <td align="center" bgcolor="#0E3885" style="text-align:center;">
            <table width="675" class="w100" border="0" cellspacing="0" cellpadding="0" bgcolor="#0E3885" align="center">
              <tbody>
                <tr>
                  <td align="center" bgcolor="#0E3885" style="text-align:center;">
                    <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                      <tbody>
                        <tr>
                          <td>&nbsp;</td>
                        </tr>
                        <tr>
                          <td align="center" style="font-size : 12px; color : #ffffff">
                            Si cet email ne s'affiche pas correctement,
                            <a href="https://acefbpgosoireefonctionpublique.fr/mailInvitation/[INVITE_HASH]" style="color:#ffffff">cliquez ici</a>.</td>
                        </tr>
                        <tr>
                          <td>&nbsp;</td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>

                <tr>
                  <td>
                    <table align="center" border="0" cellspacing="0" cellpadding="0" width="500">
                      <tbody>
                      <tr>
                        <td align="center">
                          <img src='http://localhost:8084/public/img/image.jpg' width=700>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>

                <tr>
                  <td align="center" bgcolor="#ffffff">
                    <table width="90%" border="0" cellspacing="0" cellpadding="0">
                      <tbody>
                        <tr>
                          <td>&nbsp;</td>
                        </tr>
                        <tr>
                          <td align="justify" style='color:gray; font-family: " Gill Sans ", "Gill Sans MT", Calibri, sans-serif; font-weight: bold; font-variant:small-caps; font-size:18px;'>
                            LES JEUX OLYMPIQUES ET PARALYMPIQUES DE <span style="color: #23237C">PARIS 2024</span>
                          </td>
                        </tr>
                        <tr>
                          <td align="justify" style='color:gray; font-size:18px; font-weight: bold'>DES <span style="color: #BD2323">OPPORTUNITÉS</span>
                            DE DÉVELOPPEMENT EN <span style="color: #BD2323">RÉGION</span>.
                          </td>
                        </tr>
                        <tr>
                          <td align="justify" style='color:gray; font-size:18px; font-weight: bold'>PRÉPAREZ-VOUS DÈS MAINTENANT !</td>
                        </tr>
                        <tr>
                          <td>&nbsp;<hr style ="border: 2px solid #BD2323;"/></td>
                        </tr>
                        <tr>
                          <td>&nbsp;</td>
                        </tr>
                        <tr>
                          <td align="justify" style='color:gray; font-size:14px; font-weight: bold'>
                            Les Jeux Olympiques et Paralympiques de Paris 2024, auront pour mission d'être
                            durables, solidaires et inclusifs. Paris 2024 et la SOLIDEO ont fait le choix d’organiser
                            des Jeux économiquement et socialement responsables en permettant à toutes les
                            entreprises, notamment les TPE-PME et entreprises de l’ESS (Economie Sociale et
                            Solidaire), de décrocher des marchés liés aux Jeux.
                          </td>
                        </tr>
                        <tr>
                          <td align="justify" style='color:gray; font-size:14px; font-weight: bold'>
                            Des centaines d’appels d’offres vont être lancées jusqu’en 2024 dans de nombreux
                            secteurs d’activité (bâtiment, restauration, tourisme et organisation, sécurité,
                            prestations intellectuelles, mobilité…).
                          </td>
                        </tr>
                        <tr>
                          <td>&nbsp;</td>
                        </tr>
                        <tr>
                          <td align="justify" style='color:gray; font-size:14px; font-weight: bold'>
                            Partenaire de ceux qui entreprennent, la <span style="color: #23237C">Banque Populaire Grand Ouest</span> organise une journée
                            dédiée aux Jeux Olympiques et Paralympiques de Paris 2024 à travers 2 temps forts :
                          </td>
                        </tr>
                        <tr>
                          <td align="justify" style='color:gray; font-size:14px; font-weight: bold'>
                            <ul style="margin-top: 0">
                              <li>Entreprendre 2024 de 16h30 à 18h,</li>
                              <li>TVR Business Club de 19h à 22h : vous recevrez dans un second temps une
                                invitation pour cette émission.</li>
                            </ul>
                          </td>
                        </tr>
                        <tr>
                          <td>&nbsp;</td>
                        </tr>
                        <tr>
                          <td align="center" style='color:#23237C; font-size:16px; font-weight: bold'>
                            le 22 septembre 2020
                          </td>
                        </tr>
                        <tr>
                          <td align="center" style='color:#23237C; font-size:16px; font-weight: bold'>
                            au siège de la Banque Populaire Grand Ouest
                          </td>
                        </tr>
                        <tr>
                          <td align="center" style='color:#23237C; font-size:16px; font-weight: bold'>
                            15 boulevard de la Boutière
                          </td>
                        </tr>
                        <tr>
                          <td align="center" style='color:#23237C; font-size:16px; font-weight: bold'>
                            35760 Saint Grégoire
                          </td>
                        </tr>
                        <tr>
                          <td>&nbsp;</td>
                        </tr>
                        <tr>
                          <td align="justify" style='color:gray; font-size:14px; font-weight: bold'>
                            Venez découvrir les opportunités commerciales pour votre entreprise, les modalités de
                            participation aux appels d'offre et les dispositifs d’accompagnement prévus.
                          </td>
                        </tr>
                        <tr>
                          <td align="justify" style='color:gray; font-size:14px; font-weight: bold'>
                            Vous ne pouvez pas vous déplacer mais la conférence Entreprendre 2024 vous
                            intéresse ?
                          </td>
                        </tr>
                        <tr>
                          <td align="justify" style='color:gray; font-size:14px; font-weight: bold'>
                            Inscrivez-vous pour pouvoir recevoir le lien de connexion de la conférence et suivre en
                            direct, sur internet, depuis votre ordinateur, votre tablette, ou votre mobile, la conférence.
                          </td>
                        </tr>
                        <tr>
                          <td>&nbsp;</td>
                        </tr>
                        <tr>
                          <td>
                            <table align="center" border="0" cellspacing="0" cellpadding="0" bgcolor="#23237C">
                              <tbody>
                              <tr border-radius="20px">
                                <td align="center" style="color : #ffffff; padding: 15px 30px;font-size: 20px; border-radius: 20px">
                                  <a href="https://acefbpgosoireefonctionpublique.fr/inscription/[INVITE_HASH]" style="text-decoration: none">
                                    <strong style="color : #ffffff;">JE M'INSCRIS</strong>
                                  </a>
                                </td>
                              </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                        <tr>
                          <td>&nbsp;</td>
                        </tr>
                        <tr>
                          <td align="left" style='color:#23237C; font-size:14px; font-weight: bold'>
                            Maurice Bourrigaud,
                          </td>
                        </tr>
                        <tr>
                          <td align="left" style='color:#23237C; font-size:14px; font-weight: 400'>
                            Directeur Général de la Banque Populaire Grand Ouest
                          </td>
                        </tr>
                        <tr>
                          <td>&nbsp;</td>
                        </tr>
                        <tr>
                          <td>&nbsp;</td>
                        </tr>
                        <tr>
                          <td align="center" style='color:gray; font-size:12px; font-weight: bold'>
                            Banque Populaire Grand Ouest - Société Anonyme Coopérative de Banque Populaire à capital variable
                          </td>
                        </tr>
                        <tr>
                          <td align="center" style='color:gray; font-size:12px; font-weight: bold'>
                            Siège social : 15 boulevard de la Boutière - CS 26858 - 35768 Saint Grégoire cedex
                          </td>
                        </tr>
                        <tr>
                          <td align="center" style='color:gray; font-size:12px; font-weight: bold'>
                            857 500 227 RCS Rennes. Banque Populaire Grand Ouest exploite la marque Crédit Maritime.
                          </td>
                        </tr>
                        <tr>
                          <td>&nbsp;</td>
                        </tr>
                        <tr>
                          <td>&nbsp;</td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </center>
</body>

</html>