<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Invitation soirée fonction publique</title>
    <style type="text/css">
        /* Fonts and Content */

        body,
        td {
            font-family: Arial, sans-serif;
            font-size: 18px;
            color: #000000;
        }

        body {
            background-color: #0E3885;
            margin: 0;
            padding: 0;
            -webkit-text-size-adjust: none;
            -ms-text-size-adjust: none;
        }

        img {
            border: 0;
            max-width: 100%;
            height: auto;
            vertical-align: top;
        }

        @media only screen and (max-width: 700px) {
            .w100 {
                width: 100%;
            }
            .bloc {
                width: 100%;
                display: block;
                text-align: center!important;
            }
            .masque {
                display: none !important;
            }
            .centrer {
                text-align: center !important;
            }
            .h5 {
                height: 5px;
            }
        }
    </style>
</head>

<body bgcolor="#0E3885" style="font-family:Arial, sans-serif; font-size:16px; margin:0; color: #000000;">
    <center>
        <table width="700" class="w100" border="0" cellspacing="0" cellpadding="0" bgcolor="#0E3885">
            <tbody>
                <tr>
                    <td align="center" bgcolor="#0E3885" style="text-align:center;">
                        <table width="675" class="w100" border="0" cellspacing="0" cellpadding="0" bgcolor="#0E3885" align="center">
                            <tbody>
                                <tr>
                                    <td align="center" bgcolor="#0E3885" style="text-align:center;">
                                        <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                                            <tbody>
                                                <tr>
                                                    <td>&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td>&nbsp;</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" bgcolor="#ffffff" style="border-radius: 40px;">
                                        <table width="90%" border="0" cellspacing="0" cellpadding="0">
                                            <tbody>
                                                <tr>
                                                    <td>&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td align="center" style='color:#04A5C2; font-family: " Gill Sans ", "Gill Sans MT", Calibri, sans-serif; font-variant:small-caps; font-size:48px;'>INVITATION SOIRÉE</td>
                                                </tr>
                                                <tr>
                                                    <td align="center" style='color:#04A5C2; font-size:48px;'>FONCTION PUBLIQUE</td>
                                                </tr>
                                                <tr>
                                                    <td>&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <hr width="580" height="2" bgcolor="#949599">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td align="center">
                                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                            <tbody>
                                                                <tr>

                                                                    <td align="center" style="color: #1348A0">Votre inscription est confirmé</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>&nbsp;</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <table align="center" border="0" cellspacing="0" cellpadding="0" bgcolor="#04A5C2">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td align="center" style="color : #ffffff; padding: 10px 30px;font-size: 20px;">
                                                                                        <strong>JEUDI 31 MAI 2018 À 18H30</strong>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td align="center" style="color: #1348A0;font-size: 14px;">Centre de vacances ANAS - Tréveneuc</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>&nbsp;</td>
                                                                </tr>
                                                                <tr>

                                                                    <td align="center" style="color: #1348A0">Vous trouverez en pièces jointes votre passe
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>&nbsp;</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>&nbsp;</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <hr width="580" height="2" bgcolor="#949599">
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>&nbsp;</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>&nbsp;</td>
                                                                </tr>
                                                                <tr>
                                                                    <td align="center">
                                                                        <table width="88%" border="0" cellspacing="0" cellpadding="0">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td width="49%" align="left" valign="middle" class="bloc">
                                                                                        <img src="http://194.250.42.70/BPGO/LOGO_ACEF_Cotes_Armor_2.png" alt="ACEF" border="0" height="130" width="130" />
                                                                                    </td>
                                                                                    <td class="bloc">&nbsp;</td>
                                                                                    <td class="bloc">&nbsp;</td>
                                                                                    <td width="49% " align="right " valign="middle " class="bloc">
                                                                                        <img src="http://194.250.42.70/BPGO/BP_Grand_Ouest_D.png" alt="BP Grand Ouest" border="0" height="130" width="300" />
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>&nbsp;</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>&nbsp;</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>&nbsp;</td>
                                                                </tr>
                                                </tr>
                                                </tbody>
                                                </table>
                                                </td>
                                </tr>
                                </tbody>
                                </table>
                                </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                </tbody>
                </table>
                </td>
                </tr>
            </tbody>
        </table>
    </center>
</body>

</html>